<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div class="container-fluid footer" th:fragment="footer">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <ul>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
                <li>AAAAAAAAAA</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>